@font-face {
    font-family: "Exo2";
    src: url("fonts/static/Exo2-BoldItalic.ttf");
}

body {
    background-color: black;
    font-family: "Exo2";
    color: rgb(34, 228, 17);
    text-align: center;
}

h1#header {
    font-size: 56px;
}

#practices {
    margin-top: 100px;
}

#practices>#practices_table {
    color: yellowgreen;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 50px 0;
}

.practices_info {
    opacity: 0;
}

#show_table {
    margin-top: 50px;
    width: 250px;
    height: 50px;
    background-color: black;
    color: rgb(34, 228, 17);
    font-family: "Exo2";
}

img {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 25%;
}